{% extends 'layout.html' %}



{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }} <!--For csrf token -->
        <fieldset class="'form-group">
            <legend class="border-bottom mb-4">New Post</legend>

            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}

                <br/>
                {% if form.title.errors %}
                    {% for error in form.title.errors %}
                    <span class="text-muted text-danger">{{ error }}</span>
                    {% endfor %}
                {% endif %}

                {{ form.title(class="form-control form-control-lg") }}
            </div>

            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}

                <br/>
                {% if form.content.errors %}
                    {% for error in form.content.errors %}
                    <span class="text-muted text-danger">{{ error }}</span>
                    {% endfor %}
                {% endif %}

                {{ form.content(class="form-control form-control-lg") }}
            </div>
        </fieldset>
        <div class="form-group mt-4">
                {{ form.submit(class="btn btn-outline-info", placeholder='Post') }}
        </div>
    </form>
</div>
{% endblock %}